
.article{
    width:600px; margin:auto;font-family: sans-serif;
}
img{
    width:200px;height: 200px; float: left;
}
.infor{
    width:380px;float: left;text-align: justify;padding-left:20px;margin-top: 0px;
}
.nav li{
    display:inline;
}
a{
    text-decoration:none;color:green;
}
.nav li:after{
    content: '\\'; padding:0 10px;
}
.nav li:last-child:after{
    content:"";
}
.nav a, .details a{
    font-style: italic;
}
.details a{
    color:black;
}
a:hover{
    color:darkgoldenrod;
}
.nav li:last-child:after{
    content: none;
}
